<!DOCTYPE html>
<html>
<head>
  <!-- Enlace al archivo CSS de Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <!-- Enlace a tu archivo styles.css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="viewport">
        <!-- Sidebar -->
        <div id="sidebar">
          <header>
            <img class='img' src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
          </header>
          <ul class="nav">
            <li>
              <a style='text-decoration: none;' href="{{url_for('inicio')}}">
                <i class="bi bi-house-door-fill"></i>  Inicio
              </a>
            </li>
            <li>
              <a style='text-decoration: none;' href="{{url_for('perfil_personal')}}">
                <i class="bi bi-person-fill"></i> Perfil
              </a>
            </li>
            <li>
              <a style='text-decoration: none;' href="{{url_for('matches')}}">
                <i class="bi bi-chat-dots-fill"></i> Chats
              </a>
            </li>
            <li>
              <a style='text-decoration: none;' href="{{url_for('configuracion')}}">
                <i class="bi bi-gear-fill"></i> Configuración
              </a>
            </li>
            <li>
              <a style='text-decoration: none;' href="{{url_for('ayuda')}}">
                <i class="bi bi-info-circle-fill"></i> Ayuda
              </a>
            </li>
            <li>
              <a style='text-decoration: none; ' href="{{url_for('logout')}}">
                <i class="bi bi-box-arrow-left"></i> Cerrar sesión
              </a>
            </li>
          </ul>
        </div>
        <!-- Content -->
        <div id="content">
          <div class="container">
            <div class="row justify-content-center align-items-center" style="height: 100vh;">            
                <div class="flexbox">
                <div class="chat-box">
                    <div class="chat-box-header">
                        {%if filename != ""%}
                        
                        <img src="{{ url_for('static', filename='uploads/' + filename) }}" style='width: 70px; height:70px; border-radius: 50%; border: 2px solid white;' alt="Foto" >
                        
                        {%endif%}
                        <a href="{{ url_for('perfil_detallado', usuario_id=usuario.id) }}" style='text-decoration: none;'>
                        <span class='p_ayuda'>{{ usuario.nombre|capitalize }}</p></span>
                        </a>
                    </div>
                    <div id="chat_box_body" class="chat-box-body">
                    <div id="chat_messages">
                        {% for mensaje in mensajes %}
                            {% if mensaje.emisor_id == usuario.id %}
                                <span class="row justify-content-center align-items-center"> {{mensaje.fecha}}</p></span>
                                <div class="message other-message">
                                {{mensaje.texto}}
                                </div>
                            {% else %}
                                <span class="row justify-content-center align-items-center"> {{mensaje.fecha}}</p></span>
                                <div class="message my-message">
                                {{mensaje.texto}}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    </div>

                        <form class="chat-box-footer" id="chat_form" action="{{ url_for('enviar_mensaje', usuario_id=usuario.id) }}" method="POST">
                            <textarea name="texto" id="chat_input" placeholder="Escribe tu mensaje aqui..."></textarea>
                            <button type="submit" id="send">
                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="#12ff46" d="M2,21L23,12L2,3V10L17,12L2,14V21Z" />
                                </svg>
                            </button>
                        </form>
            </div>
          </div class="container">
        </div>
      </div id="viewport">
</body>
</html>