<!DOCTYPE html>
<html>
<head>
  <!-- Enlace al archivo CSS de Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <!-- Enlace a tu archivo styles.css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="viewport">
        <!-- Sidebar -->
        <div id="sidebar">
          <header>
            <img class='img' src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
          </header>
          <ul class="nav">
            <li>
              <a href="#">
                <i class="bi bi-house-door-fill"></i>  Inicio
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-person-fill"></i> Perfil
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-chat-dots-fill"></i> Chats
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-gear-fill"></i> Configuración
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-info-circle-fill"></i> Ayuda
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-box-arrow-left"></i> Cerrar sesión
              </a>
            </li>
          </ul>
        </div>
        <!-- Content -->
        <div id="content">
          <div class="container">
            <div class='row'>
                <div class='col-md-6'>
                    <h1 class='h_portada'>Configuración</h1>
                    <form>
                        <div class="form-row">
                            <p class='p_ayuda'>
                                DATOS DE CUENTA
                            </p>
                            <div class="col-md-6 mb-3">
                              <label class='p_ayuda_t' for="validationDefault01">Nombre</label>
                              <input type="text" class="form-control" id="validationDefault01" placeholder=" " required>
                            </div>
                            <div class="col-md-6 mb-3">
                              <label class='p_ayuda_t' for="validationDefault02">Correo electrónico</label>
                              <input type="text" class="form-control" id="validationDefault02" placeholder=" " required>
                            </div>
                            <div class="col-md-6 mb-3">
                              <label class='p_ayuda_t' for="validationDefault04">Dirección</label>
                              <input type="text" class="form-control" id="validationDefault02" placeholder=" " required>
                            </div>
                        </div class="form-row">
                        <button class="btn btn-primary" style='background-color: #8d7563;' type="submit">Actualizar datos</button>
                    </form>
                    <br>
                    <p class='p_ayuda'>
                        CONFIGURACIÓN DE BUSQUEDA
                    </p>
                    <form>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label class='p_ayuda_t' for="validationDefault01">Distancia máxima de búsqueda</label>
                            <input type="number" class="form-control" id="validationDefault01" placeholder=" " required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class='p_ayuda_t' for="validationDefault02">Qué género musical buscas</label>
                            <select class="form-control">
                                <option selected>Elige...</option>
                                <option>Alternative</option>
                                <option>Blues</option>
                                <option>Bachata</option>
                                <option>Country</option>
                                <option>Cumbia</option>
                                <option>Classical</option>
                                <option>Electronic / EDM</option>
                                <option>Funk</option>
                                <option>Flamenco</option>
                                <option>Heavy Metal</option>
                                <option>Hip-Hop / Rap</option>
                                <option>Indie</option>
                                <option>Jazz</option>
                                <option>Metal</option>
                                <option>Merengue</option>
                                <option>Pop</option>
                                <option>Punk</option>
                                <option>R&B / Soul</option>
                                <option>Reggae</option>
                                <option>Reggaeton</option>
                                <option>Rock</option>
                                <option>Salsa</option>
                                <option>Soul</option>
                                <option>Tango</option>
                                <option>Techno</option>
                                <option>Trance</option>
                                <option>Trap</option>
                                <option>Tropical</option>
                                <option>Vallenato</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label class='p_ayuda_t' for="validationDefault02">Qué instrumento buscas</label>
                          <select class="form-control">
                              <option selected>Elige...</option>
                              <option>Acordeón</option>
                              <option>Arpa</option>
                              <option>Bajo</option>
                              <option>Batería</option>
                              <option>Cantante</option>
                              <option>Cello</option>
                              <option>Clarinete</option>
                              <option>Contrabajo</option>
                              <option>Flauta</option>
                              <option>Guitarra</option>
                              <option>Órgano</option>
                              <option>Percusión</option>
                              <option>Piano</option>
                              <option>Saxofón</option>
                              <option>Teclado</option>
                              <option>Trombón</option>
                              <option>Trompa</option>
                              <option>Trompeta</option>
                              <option>Viola</option>
                              <option>Violín</option>
                          </select>
                      </div>
                    </div>
                    <button class="btn btn-primary" style='background-color: #8d7563;' type="submit">Guardar configuración</button>
                    </form>
                    <br>
                    <p class='p_ayuda'>
                        CAMBIAR CONTRASEÑA
                    </p>
                    <form>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label class='p_ayuda_t' for="validationDefault01">Contraseña antigua</label>
                            <input type="text" class="form-control" id="validationDefault01" placeholder=" " required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class='p_ayuda_t' for="validationDefault02">Contraseña nueva</label>
                            <input type="text" class="form-control" id="validationDefault02" placeholder=" " required>
                        </div>
                    </div>
                    <button class="btn btn-primary" style='background-color: #8d7563;' type="submit">Cambiar contraseña</button>
                    </form>
                    <br>
                </div class='col-md-6'>
                <div class='col-md-6'>
                  <img src="{{ url_for('static', filename='img/img_config1.png') }}" alt="portada">
                  <img src="{{ url_for('static', filename='img/img_config2.png') }}" alt="portada">
                </div class='col-md-6'>
            </div class='row'>
          </div class="container">
        </div>
      </div id="viewport">
</body>
</html>