<!DOCTYPE html>
<html>
<head>
  <!-- Enlace al archivo CSS de Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <!-- Enlace a tu archivo styles.css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="viewport">
        <!-- Sidebar -->
         <!-- Sidebar -->
         <div id="sidebar">
          <header>
            <img class='img' src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
          </header>
          <ul class="nav">
            <li>
              <a href="{{url_for('inicio')}}">
                <i class="bi bi-house-door-fill"></i>  Inicio
              </a>
            </li>
            <li>
              <a href="{{url_for('perfil_personal')}}">
                <i class="bi bi-person-fill"></i> Perfil
              </a>
            </li>
            <li>
              <a href="{{url_for('matches')}}">
                <i class="bi bi-chat-dots-fill"></i> Chats
              </a>
            </li>
            <li>
              <a href="{{url_for('configuracion')}}">
                <i class="bi bi-gear-fill"></i> Configuración
              </a>
            </li>
            <li>
              <a href="{{url_for('ayuda')}}">
                <i class="bi bi-info-circle-fill"></i> Ayuda
              </a>
            </li>
            <li>
              <a href="{{url_for('logout')}}">
                <i class="bi bi-box-arrow-left"></i> Cerrar sesión
              </a>
            </li>
          </ul>
        </div>
        <!-- Content -->
        <div id="content">
          <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div class="alert alert-success">
                <ul>
                  {% for message in messages %}
                    <li>{{ message }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          {% endwith %}
            <div class='row'>
                <div class='col-md-6'>
                    <h1 class='h_portada'>Configuración</h1>
                    <form method="POST" action="{{ url_for('actualizar_datos') }}">
                        <div class="form-row">
                            <p class='p_ayuda'>
                                DATOS DE CUENTA
                            </p>
                            <div class="col-md-6 mb-3">
                              <label class='p_ayuda_t' for="validationDefault01">Nombre</label>
                              <input type="text" class="form-control" id="validationDefault01" name="nombre" placeholder=" " value="{{ usuario.nombre }}" required>
                          </div>
                          <div class="col-md-6 mb-3">
                              <label class='p_ayuda_t' for="validationDefault02">Correo electrónico</label>
                              <input type="text" class="form-control" id="validationDefault02" name="email" placeholder=" " value="{{ usuario.email }}" required>
                          </div>
                          <div class="col-md-6 mb-3">
                              <label class='p_ayuda_t' for="validationDefault04">Dirección</label>
                              <input type="text" class="form-control" id="validationDefault04" name="direccion" placeholder=" " value="{{ usuario.direccion }}" required>
                          </div>
                            <div class="col-md-6 mb-3">
                                <label class='p_ayuda_t' for="validationDefault02">Instrumento principal</label>
                                <select class="form-control" name="instrumento_principal">
                                  <option selected>Elige...</option>
                                  <option value="acordeon">Acordeón</option>
                                  <option value="arpa">Arpa</option>
                                  <option value="bajo">Bajo</option>
                                  <option value="bateria">Batería</option>
                                  <option value="cantante">Cantante</option>
                                  <option value="cello">Cello</option>
                                  <option value="clarinete">Clarinete</option>
                                  <option value="contrabajo">Contrabajo</option>
                                  <option value="flauta">Flauta</option>
                                  <option value="guitarra">Guitarra</option>
                                  <option value="organo">Órgano</option>
                                  <option value="percusion">Percusión</option>
                                  <option value="piano">Piano</option>
                                  <option value="saxofon">Saxofón</option>
                                  <option value="teclado">Teclado</option>
                                  <option value="trombon">Trombón</option>
                                  <option value="trompa">Trompa</option>
                                  <option value="trompeta">Trompeta</option>
                                  <option value="viola">Viola</option>
                                  <option value="violin">Violín</option>
                              </select>
                            </div>
                        </div class="form-row">
                        <button class="btn btn-primary" style='background-color: #8d7563;' type="submit">Actualizar datos</button>
                    </form>
                    <br>
                    <p class='p_ayuda'>
                        CONFIGURACIÓN DE BUSQUEDA
                    </p>
                    <form method="POST" action="{{ url_for('actualizar_busqueda') }}">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label class='p_ayuda_t' for="validationDefault01">Distancia máxima de búsqueda</label>
                            <input type="number" class="form-control" name='busca_distancia' id="validationDefault01" placeholder=" " value="{{ usuario.busca_distancia }}" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class='p_ayuda_t' for="validationDefault02">Qué género musical buscas</label>
                            <select class="form-control" name="busca_genero">
                              <option selected>Elige...</option>
                              <option value="alternative">Alternative</option>
                              <option value="blues">Blues</option>
                              <option value="bachata">Bachata</option>
                              <option value="country">Country</option>
                              <option value="cumbia">Cumbia</option>
                              <option value="classical">Classical</option>
                              <option value="electronic">Electronic</option>
                              <option value="funk">Funk</option>
                              <option value="flamenco">Flamenco</option>
                              <option value="heavy metal">Heavy Metal</option>
                              <option value="indie">Indie</option>
                              <option value="jazz">Jazz</option>
                              <option value="metal">Metal</option>
                              <option value="merengue">Merengue</option>
                              <option value="pop">Pop</option>
                              <option value="punk">Punk</option>
                              <option value="rap">Rap</option>
                              <option value="reggae">Reggae</option>
                              <option value="reggaeton">Reggaeton</option>
                              <option value="rock">Rock</option>
                              <option value="salsa">Salsa</option>
                              <option value="Soul">Soul</option>
                              <option value="toul">Soul</option>
                              <option value="tango">Tango</option>
                              <option value="techno">Techno</option>
                              <option value="trance">Trance</option>
                              <option value="trap">Trap</option>
                              <option value="tropical">Tropical</option>
                              <option value="vallenato">Vallenato</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary" style='background-color: #8d7563;' type="submit">Guardar configuración</button>
                    </form>
                    <br>
                    <p class='p_ayuda'>
                        CAMBIAR CONTRASEÑA
                    </p>
                    <form method="POST" action="{{ url_for('actualizar_contraseña') }}">
                      <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label class='p_ayuda_t'  for="validationDefault01">Contraseña antigua</label>
                            <input type='password' class="form-control" id="validationDefault01" name='contraseña_actual' placeholder=" " required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class='p_ayuda_t' for="validationDefault02">Contraseña nueva</label>
                            <input type='password' class="form-control" id="validationDefault02" name='contraseña_nueva' placeholder=" " required>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label class='p_ayuda_t' for="validationDefault02">Repite la contraseña</label>
                          <input type='password' class="form-control" id="validationDefault02" name='contraseña_nueva2' placeholder=" " required>
                      </div>
                    </div>
                    <button class="btn btn-primary" style='background-color: #8d7563;' type="submit">Cambiar contraseña</button>
                    </form>
                    <br>
                </div class='col-md-6'>
                <div class='col-md-6'>
                    <img src="{{ url_for('static', filename='img/img_config1.png') }}" alt="portada">
                    <img src="{{ url_for('static', filename='img/img_config2.png') }}" alt="portada">
                </div class='col-md-6'>
            </div class='row'>
          </div class="container">
        </div>
      </div id="viewport">
</body>
</html>