<!DOCTYPE html>
<html>
<head>
  <!-- Enlace al archivo CSS de Bootstrap -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <!-- Enlace a tu archivo styles.css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body style='background-color: #12ff46'>
    <div class="container">
      {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <div class="alert alert-primary">
                    <ul>
                      {% for message in messages %}
                        <li>{{ message }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              {% endwith %}
      <div class='row'>
        <div class='col'>
          <img src="{{ url_for('static', filename='img/img_login.png') }}" alt="logo">
        </div>
        <div class='col'>
          <img class='img' src="{{ url_for('static', filename='img/logo_letras_2.png') }}" alt="portada">
          <form action="{{ url_for('login') }}" method="POST">
            <div>
              <label for="validationDefault02">Correo electrónico</label>
              <input type="text" name="email" class="form-control" id="validationDefault02" placeholder="Correo electrónico" required style='margin-top: 5px; margin-bottom: 10px;  width: 40%;'>
            </div>
            <div>
              <label for="validationDefault02">Contraseña</label>
              <input type="password" name="contraseña" class="form-control" id="validationDefault02" placeholder="Contraseña" required style='margin-top: 5px; margin-bottom: 10px;  width: 40%;'>
            </div>
                <button type="submit" class="btn btn-primary" style='margin-top: 10px; background-color: #8d7563; width: 20%;' >Iniciar sesión</button>
                <button onclick="window.location.href='{{ url_for('registro') }}'" type="button" class="btn btn-primary" style='margin-top: 10px; background-color: #8d7563; width: 20%;' >Registrarse</button>
          </form>
        </div>
      </div>
    </div>
</body>
</html>