<!DOCTYPE html>
<html>
<head>
  <!-- Enlace al archivo CSS de Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <!-- Enlace a tu archivo styles.css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="viewport">
        <!-- Sidebar -->
        <div id="sidebar">
            <header>
              <img class='img' src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
            </header>
            <ul class="nav">
              <li>
                <a href="{{url_for('inicio')}}">
                  <i class="bi bi-house-door-fill"></i>  Inicio
                </a>
              </li>
              <li>
                <a href="{{url_for('perfil_personal')}}">
                  <i class="bi bi-person-fill"></i> Perfil
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="bi bi-chat-dots-fill"></i> Chats
                </a>
              </li>
              <li>
                <a href="{{url_for('configuracion')}}">
                  <i class="bi bi-gear-fill"></i> Configuración
                </a>
              </li>
              <li>
                <a href="{{url_for('ayuda')}}">
                  <i class="bi bi-info-circle-fill"></i> Ayuda
                </a>
              </li>
              <li>
                <a href="{{url_for('logout')}}">
                  <i class="bi bi-box-arrow-left"></i> Cerrar sesión
                </a>
              </li>
            </ul>
          </div>
        <!-- Content -->
        <div id="content">
          <div class="container">     
              <div class="row justify-content-center align-items-center" style="height: 100vh;">
                <div class="card-group">
                    <div class="card align-items-center" style="background-color: #8d7563;">
                        
                        <img class="card-img-top" src="{{ url_for('static', filename='img/ej_musico.jpg') }}" alt="Card image cap" style="max-width: 500px; max-height: 500px;">
                      <div class="card-body text-center">
                        <form action="" method="POST">
                            <button type="button" class="btn btn-success btn-like" >
                                <i class="bi bi-hand-thumbs-up-fill"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-dislike" >
                                <i class="bi bi-hand-thumbs-down-fill"></i>
                            </button>
                        </form>
                      </div>
                    </div>
                    <div class="card" style="background-color: #b3ac8f;">
                      <div class='row align-items-center my-2 mx-2'>
                        <div class='col'>
                          <h1 class="card-title" style="font-weight: bold;">{{usuario.nombre|capitalize}}</h1>
                            <p class="card-title" style="font-weight: bold;">{{musico.instrumento_principal|capitalize}}</p>
                        </div>
                      </div>
                      <div class='row align-items-center my-2 mx-2'>
                        <div class='col'>
                          <i class="bi bi-geo-alt-fill">{{ciudad|capitalize}}</i>
                        </div>
                        <div class='col'>                        
                          <i class="bi bi-person-fill">{{musico.sexo|capitalize}}</i>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class='row my-2'>
                          <div class='col'>
                            <h5 class="card-title" style="font-weight: bold;">Edad</h5>
                          </div>
                          <div class='col'>                        
                            <p class="card-text">{{musico.edad}}</p>
                          </div>
                        </div>
                        <div class='row my-2'>
                          <div class='col'>
                            <h5 class="card-title" style="font-weight: bold;">Género musical</h5>
                          </div>
                          <div class='col'>                        
                            <p class="card-text">{{usuario.genero_musical|capitalize}}</p>
                          </div>
                        </div>
                        <div class='row my-2'>
                          <div class='col'>
                            <h5 class="card-title" style="font-weight: bold;">Sobre mí</h5>
                          </div>
                          <div class='col'>                        
                            <p class="card-text">{{usuario.descripcion}}</p>
                          </div>
                        </div>
                        <div class='row my-2'>
                          <div class='col'>
                            <h5 class="card-title" style="font-weight: bold;">Canción favorita</h5>
                          </div>
                          <div class='col'>                        
                            <i class="bi bi-file-music-fill"></i>
                          </div>
                        </div>
                        <div class="row mx-1 mt-5">
                          <button onclick="window.location.href='{{ url_for('inicio') }}'" class="btn btn-dark" style='margin-top: 10px; width: 20%;' >Volver</button>
                      </div>
                      </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
      </div id="viewport">
      <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>