<!DOCTYPE html>
<html>
<head>
  <!-- Enlace al archivo CSS de Bootstrap -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <!-- Enlace a tu archivo styles.css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="container_reg"> 
    <form action="{{ url_for('registro') }}" method="POST">
        <form action="{{ url_for('registro') }}" method="POST">
            <div class="form-row">
                  <img src="{{ url_for('static', filename='img/logo_letras_2.png') }}" alt="logo">
                <div class="col-md-4 mb-3">
                  <label for="validationDefault01">Nombre</label>
                  <input type="text" name="nombre" class="form-control" id="validationDefault01" placeholder="Nombre" required>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationDefault02">Correo electrónico</label>
                  <input type="text" name="email" class="form-control" id="validationDefault02" placeholder="Correo electrónico" required>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationDefault02">Contraseña</label>
                  <input type="password" name="contraseña" class="form-control" id="validationDefault02" placeholder="Contraseña" required>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationDefault02">Dirección</label>
                  <input type="text" name="direccion" class="form-control" id="validationDefault02" placeholder="Dirección" required>
                </div>
                    <label for="validationDefault02">Tu género musical</label>
                    <select class="form-control" name="genero_musical">
                      <option selected>Elige...</option>
                      <option value="alternative">Alternative</option>
                      <option value="blues">Blues</option>
                      <option value="bachata">Bachata</option>
                      <option value="country">Country</option>
                      <option value="cumbia">Cumbia</option>
                      <option value="classical">Classical</option>
                      <option value="electronic">Electronic</option>
                      <option value="funk">Funk</option>
                      <option value="flamenco">Flamenco</option>
                      <option value="heavy metal">Heavy Metal</option>
                      <option value="indie">Indie</option>
                      <option value="jazz">Jazz</option>
                      <option value="metal">Metal</option>
                      <option value="merengue">Merengue</option>
                      <option value="pop">Pop</option>
                      <option value="punk">Punk</option>
                      <option value="rap">Rap</option>
                      <option value="reggae">Reggae</option>
                      <option value="reggaeton">Reggaeton</option>
                      <option value="rock">Rock</option>
                      <option value="salsa">Salsa</option>
                      <option value="Soul">Soul</option>
                      <option value="toul">Soul</option>
                      <option value="tango">Tango</option>
                      <option value="techno">Techno</option>
                      <option value="trance">Trance</option>
                      <option value="trap">Trap</option>
                      <option value="tropical">Tropical</option>
                      <option value="vallenato">Vallenato</option>
                    </select>
                    <br>
                    <label for="validationDefault02">Qué género musical buscas</label>
                    <select class="form-control" name="busca_genero">
                      <option selected>Elige...</option>
                      <option value="alternative">Alternative</option>
                      <option value="blues">Blues</option>
                      <option value="bachata">Bachata</option>
                      <option value="country">Country</option>
                      <option value="cumbia">Cumbia</option>
                      <option value="classical">Classical</option>
                      <option value="electronic">Electronic</option>
                      <option value="funk">Funk</option>
                      <option value="flamenco">Flamenco</option>
                      <option value="heavy metal">Heavy Metal</option>
                      <option value="indie">Indie</option>
                      <option value="jazz">Jazz</option>
                      <option value="metal">Metal</option>
                      <option value="merengue">Merengue</option>
                      <option value="pop">Pop</option>
                      <option value="punk">Punk</option>
                      <option value="rap">Rap</option>
                      <option value="reggae">Reggae</option>
                      <option value="reggaeton">Reggaeton</option>
                      <option value="rock">Rock</option>
                      <option value="salsa">Salsa</option>
                      <option value="Soul">Soul</option>
                      <option value="toul">Soul</option>
                      <option value="tango">Tango</option>
                      <option value="techno">Techno</option>
                      <option value="trance">Trance</option>
                      <option value="trap">Trap</option>
                      <option value="tropical">Tropical</option>
                      <option value="vallenato">Vallenato</option>
                    </select>
                <br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"  id="inlineRadio1" name="tipo_usuario" value="musico">
                  <label class="form-check-label" for="inlineRadio1">Músico</label>
              </div>              
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="inlineRadio2" name="tipo_usuario" value="grupo">
                    <label class="form-check-label" for="inlineRadio2">Banda</label>
                  </div>
                  <br>
                  <div id="formulario1" style="display: none;">
                    <form action="{{ url_for('registro') }}" method="POST">
                        <label for="validationDefault02">Sexo</label>
                        <select class="form-control" name="sexo">
                            <option selected >Elige...</option>
                            <option value="mujer">Mujer</option>
                            <option value="hombre">Hombre</option>
                            <option value="no binario">No binario</option>
                        </select>
                        <br>
                        <div class="col-md-4 mb-3">
                          <label for="validationDefault01">Edad</label>
                          <input type="number" name="edad" class="form-control" id="validationDefault01" placeholder="Edad" required>
                        </div>
                        <label for="validationDefault02">Tu instrumento principal</label>
                        <select class="form-control" name="instrumento_principal">
                            <option selected>Elige...</option>
                            <option value="acordeon">Acordeón</option>
                            <option value="arpa">Arpa</option>
                            <option value="bajo">Bajo</option>
                            <option value="bateria">Batería</option>
                            <option value="cantante">Cantante</option>
                            <option value="cello">Cello</option>
                            <option value="clarinete">Clarinete</option>
                            <option value="contrabajo">Contrabajo</option>
                            <option value="flauta">Flauta</option>
                            <option value="guitarra">Guitarra</option>
                            <option value="organo">Órgano</option>
                            <option value="percusion">Percusión</option>
                            <option value="piano">Piano</option>
                            <option value="saxofon">Saxofón</option>
                            <option value="teclado">Teclado</option>
                            <option value="trombon">Trombón</option>
                            <option value="trompa">Trompa</option>
                            <option value="trompeta">Trompeta</option>
                            <option value="viola">Viola</option>
                            <option value="violin">Violín</option>
                        </select>
                        <br>
                    </form>
                  </div>
                  <div id="formulario2" style="display: none;">
                    <form action="{{ url_for('registro') }}" method="POST">
                      <label for="validationDefault02">Qué instrumento buscas</label>
                        <select class="form-control" name="busca_instrumento">
                          <option selected>Elige...</option>
                          <option value="acordeon">Acordeón</option>
                          <option value="arpa">Arpa</option>
                          <option value="bajo">Bajo</option>
                          <option value="bateria">Batería</option>
                          <option value="cantante">Cantante</option>
                          <option value="cello">Cello</option>
                          <option value="clarinete">Clarinete</option>
                          <option value="contrabajo">Contrabajo</option>
                          <option value="flauta">Flauta</option>
                          <option value="guitarra">Guitarra</option>
                          <option value="organo">Órgano</option>
                          <option value="percusion">Percusión</option>
                          <option value="piano">Piano</option>
                          <option value="saxofon">Saxofón</option>
                          <option value="teclado">Teclado</option>
                          <option value="trombon">Trombón</option>
                          <option value="trompa">Trompa</option>
                          <option value="trompeta">Trompeta</option>
                          <option value="viola">Viola</option>
                          <option value="violin">Violín</option>
                        </select>
                    </form>
                  </div>
                  <br>
                  <button class="btn btn-primary" style='background-color: #8d7563;' type="submit">Resgistrarse</button>
              </div>
            </div>
          </form>
  </div>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>